@import 'nib'

normalize-css()

*
  box-sizing: border-box

// Global font
html, button, input, optgroup, select, textarea
  font-family: -apple-system, system, BlinkMacSystemFont, sans-serif

body
  margin: 1em

@import 'styles/*'
