*
  box-sizing: border-box
  font-family: -apple-system, system, BlinkMacSystemFont, sans-serif

@import './theme'

@import './logo'
@import './content'
@import './footer'

.index
  width: 480px
  margin: 0 auto
