@import 'nib'

normalize-css()

// Reference (August 2014): http://www.paulirish.com/2012/box-sizing-border-box-ftw/
html
  box-sizing: border-box
*, *:before, *:after
  box-sizing: inherit

// Global font
html, button, input, optgroup, select, textarea
  font-family: -apple-system, system, BlinkMacSystemFont, sans-serif

body
  margin: 1em

@import 'styles/*'
